body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #11e011;
    padding: 20px;
    color: white;
    text-align: center;
}

nav {
    background-color: #222;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff6600;
}

.banner {
    background-image: url('https://images.unsplash.com/photo-1517411032315-54ef2cb783bb');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    font-weight: bold;
}

.produtos {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: rgb(190, 178, 178);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    padding: 15px;
    margin: 0;
}

.card p {
    padding: 0 15px 15px 15px;
    color: #555;
}

.btn-comprar {
    display: block;
    margin: 10px 15px 20px;
    padding: 10px;
    text-align: center;
    background-color: #ff6600;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.btn-comprar:hover {
    background-color: #e05500;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
